/*Created by yanglingqing on 2017/2/17.*/

.hidden {
    display: none;
}

#board-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 34px;
    line-height: 34px;
    text-align: right;
}

.m-board-dropdown a, .m-board-dropdown a:hover, .m-board-dropdown a:visited, .m-board-dropdown a:link {
    text-decoration: none !important;
}

.m-board-dropdown .m-upLoad {
    width: auto;
}

/*左侧打开菜单*/
.board-menu .ant-dropdown-menu-sub {
    left: auto !important;
    right: 102% !important;
}

/*左侧打开菜单*/
.OpenLeft > .ant-dropdown-menu-sub {
    left: auto !important;
    right: 100% !important;
}

.m-reset-edge {
    min-width: 170px;
    left: 25px;
}

.connect-tabs {
    text-align: center;
}

.connect-tabs .tab-container {
    position: relative;
    min-height: 180px;
    width: 100%;
}

.connect-tabs .tab-container .details {
    width: 300px;
    margin: 0 auto;
    line-height: 25px;
    text-align: left;
}

.connect-tabs .tab-container .loading {
    position: absolute;
    top: 130px;
    left: 295px;
}

.connect-tabs .tab-container .loading-long {
    position: absolute;
    top: 125px;
    left: 325px;
}

.connect-tabs .btn-connect {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.connect-tabs .btn-connect button {
    width: 100px;
}

.connect-tabs .btn-connect span {
    font-size: 14px;
}

.connect-tabs .ant-tabs {
    width: 80%;
    margin: 0 auto;
}

.connect-tabs .ant-tabs-nav {
    text-align: center;
    margin: 0 auto;
    float: none;
}

.connect-tabs .ant-tabs-nav .ant-tabs-tab {
    margin: 0;
    padding: 8px 30px;
}

.connect-tabs .select-device {
    display: block;
    width: 180px;
    margin: 20px auto 0;
}

.connect-tabs .message {
    min-height: 30px;
    line-height: 30px;
}

.connect-tabs .error {
    color: red;
}

.none-border {
    width: 125px;
    border: 0;
}

.none-border > .ant-select-selection {
    border: 0 !important;
}

.none-border .ant-select-selection {
    box-shadow: none !important;
}

.ant-dropdown-menu-item-group-title {
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
    line-height: 1.5;
    padding: 8px 8px;

}

.m-board-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-right: 15px;
    line-height: 34px;
    font-size: 14px;
    z-index: 99;
}

.m-board-dropdown a {
    color: white;
    width: 182px;
    height: 34px;
    display: block;
    text-align: right;
}

.m_overflow {
    max-height: 300px;
    overflow-y: auto;
}

.m-translator-dropdown a {
    color: white;
    width: 150px;
    height: 21px;
    display: block;
    text-align: right;
}

.SelectBoard-dropdown {
    position: absolute;
    bottom: -62px;
    left: -65px;
    cursor: pointer;
}

.m-toolbar-left {
    margin-left: 60px;
}

.m-toolbar-left li {
    float: left;
    padding: 5px 15px 5px 0px;
}

.m-toolbar-left li a, .m-toolbar-left li a:hover, .m-toolbar-left li a:visited, .m-toolbar-left li a:active {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.m-toolbar-right {
    float: right;
    padding-right: 15px;
}

.m-active {
    color: #108ee9 !important;
    background-color: #ecf6fd;
}

.m-noactive, .m-noactive:visited, .ant-dropdown-menu-item-selected > .m-noactive, .ant-dropdown-menu-submenu-title-selected > .m-noactive {
    color: rgba(0, 0, 0, 0.65) !important;
    background-color: white;
}

.m-noactive:hover {
    background-color: #ecf6fd;
}

.m-ide-logo {
    position: absolute;
    left: 17px;
    top: 3px;
}

.m-upLoad-active, .m-upLoad-active:focus, .m-menu-active a, .m-menu-active a:hover, .m-menu-active a:visited, .m-menu-active a:focus {
    color: #37e98a !important;
    text-decoration: none;
}

.m-upLoad {
    position: relative;
    display: inline-block;

    font-size: 14px;
    z-index: 200;
}

.m-upLoad-noactive, .m-upLoad-noactive:focus, .m-menu-noactive a, .m-menu-noactive a:hover, .m-menu-noactive a:visited, .m-menu-noactive a:focus {
    color: white !important;
    text-decoration: none;
}

.m_clear_padding {
    padding: 0;
}

.compile-spin {
    position: absolute;
    top: 15px;
    left: 140px;
}

.compile-log-faild-tips {
    width: 100%;
    height: 30px;
    color: red;
}

.compile-log {
    width: 100%;
    height: 100px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.compile-log pre {
    height: 100%;
}

.progress-tips-top {
    height: 30px;
    line-height: 30px;
    width: 400px;
}

.progress-tips-bottom {
    min-height: 30px;
    line-height: 30px;
}

.progress-tips-bottom.success {
    color: rgb(133, 207, 123);
}

.progress-tips-bottom.failed {
    color: rgb(253, 83, 44);
}

.plugin-tips {
    background-color: #fff5e7;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: rgb(83, 83, 83);
    font-size: 12px;
}

.m-board-dropdown-button {
    width: auto !important;
}

.m-update-firmware-menu.disable, .m-update-firmware-menu.disable div {
    color: rgba(0, 0, 0, .25);
    cursor: not-allowed;
}

.m-help.disable {
    color: rgba(0, 0, 0, .25);
    cursor: not-allowed;
}

.m-reset-width {
    min-width: 170px;
}

.m-black-color {
    color: rgba(0, 0, 0, 0.65);
    background-color: white;
}

.m-black-color:hover {

}

.m-disable-color {
    background-color: white;
}

.m-load-tips-cover {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 980;
}

.m-load-tips {
    position: fixed!important;
    display: none;
    text-align: left;
    left: 50%!important;
    width: 400px!important;
    margin: 0 0 0 -250px!important;
    z-index: 980;

}

#ide-toolbar {
    position: relative;
}

.btn-connect .m-error-message {
    width: 100%;
    height: 30px;
    margin-top: -60px;
    margin-bottom: 30px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-14:hover,.font-size-12:hover {
    color: #108ee9
}

.align-right {
    text-align: right;
}
