/**
 * Created by lingqing.yang on 2016/12/24.
 */

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

object:focus {
    outline: none;
}

.loading-content {
    margin-top: -126px;
    margin-left: -318px;
    width: 632px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 101;
}


.loading-icon {
    margin-bottom: 22px;
    text-align: center;
}

.loading-bar {
    background-color: rgba(0, 0, 0, .2);
    border: 2px solid #9299a7;
    border-radius: 15px;
    position: relative;
}


.bar-percentage {
    margin: 2px;
    height: 11px;
    border-radius: 11px;
    overflow: hidden;
    position: relative;
}

.bar-percentage .progress {
    width: 0;
    height: inherit;
    display: block;
    content: '';
    border-radius: 0;
    background-color: #14c0f3;
    top: 0;
    left: 0;
    position: absolute;
}

.loading-overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 900;
}

.loading-overlay {
    background-color: #666;
}


body {
    margin: 0;
    padding: 0;
}


dialog {
    padding: 0;
    border: 1px solid #bebebe;
    border-radius: 6px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    overflow: hidden;
}

.alert {
    top: 0px;
    padding: 10px 20px;
    border-top: none;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
    background: #F6F6F6;
}

.overflow {
    overflow: hidden;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #666;
}

.loading-box {
    margin-top: -75px;
    margin-left: -50px;
    top: 50%;
    left: 50%;
    position: absolute;
}

.loading-cog {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background:url("../images/icon_cog.png") center no-repeat;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.loading-text {
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.g-wrapper{height:100%;}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
